body{
    margin: 0;
    background-color: #292020;
}

.navbar{
    background-color: #A04747;
   display: flex;
   height: 15vh;
}

.text1{
    float: left;
    margin-left: 1.5vw;
    margin-top: -1.5vw;
    color: white;
}

.lote{
    float: right;
    margin-top: 1.5vw;
    margin-left: 75vw;
}

.lote img{
    float: left;
    margin-right: 0.5vw;
    margin-top: 1.7vw;
}

.lote p{
    font-size: 20px;
    float: left;
}


.userdetails{
    display: flex;
flex-direction: row;
}



.budget{
    background-color: #D8A25E;
    float: left;
    margin-left: 10vw;
    padding: 2vw;
    box-shadow: 2px 2px 6px gray;
   margin-top: 2vw;
   width: 30vw;
   height: 35vh;
}

.expenses{
    border: 1px solid #EEDF7A;
    background-color: #D8A25E;
    float: left;
    box-shadow: 2px 2px 6px gray;
  margin-left: 15vw;
  padding: 2vw;
  margin-top: 2vw;
  width: 30vw;
   height: 35vh;
   
}

.expenseslist{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear: both;
    width: 60vw;
    box-shadow: 2px 2px 6px gray;
 margin-top: 60vh;
    padding: 2vw;
    margin-left: 20%;
    margin-bottom: 10vw;
}

.expenseslist h2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 30px;
   background-color: #EEDF7A;
    margin-top: -2vw;
    margin-left: -2vw;
    margin-right: -2vw;
  padding: 0.5vw;
}

.expenseslist li{
    background-color: #EEDF7A;

 list-style-type:none;
 font-size: 23px;
 padding: 1vw;
 width:80% ;
 box-shadow: 2px 2px 6px gray;
 margin: 2vw;
}

span{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

input{
    box-sizing: border-box;
    font-size: 18px;
    padding: 0.8vw;
    height: 20vh;
}


input::placeholder{
    font-size: 15px;
}

.show{
    clear:both;
    display: flex;
    flex-direction: row;
    padding: 2vw;
    margin-left: 10vw;
}

.details1{
    background-color: #EEDF7A;
   text-align: center;
    margin: 2vw;
    height: 18vh;
    width: 22vw;
    box-shadow: 2px 2px 6px gray;
}


.details1 img{
    float: left;
   margin-left: 2vw;
   margin-top: 2vw;
    width: 3vw;
    height: 7vh;
}


.details1 p{
    font-size: 20px;
    font-weight: bold;
}

.details2{
    background-color: #EEDF7A;
    text-align: center;
     margin: 2vw;
     height: 18vh;
     width: 22vw;
     box-shadow: 2px 2px 6px gray;
 }
 
 
 .details2 img{
     float: left;
    margin-left: 2vw;
    margin-top: 2vw;
     width: 3vw;
     height: 7vh;
 }
 
 
 .details2 p{
     font-size: 20px;
     font-weight: bold;
 }

 .details3{
    background-color: #EEDF7A;
    text-align: center;
     margin: 2vw;
     height: 18vh;
     width: 22vw;
     box-shadow: 2px 2px 6px gray;
 }
 
 
 .details3 img{
     float: left;
    margin-left: 2vw;
    margin-top: 2vw;
     width: 4vw;
     height: 8vh;
 }
 
 
 .details3 p{
     font-size: 20px;
     font-weight: bold;
 }


.close{
    cursor: pointer;
    float: right;  
    margin-right: 1vw;
    background-color: #EEDF7A;
    border: none;
}

.jsimgclose{
    cursor: pointer;
    width: 23px;
  
}

.addbut{
    background-color: #A04747;
    cursor: pointer;
    padding: 1vw;  
    border-radius: 5px; 
   border: none;
   font-size: 16px;
   font-weight: bold;
    color: white
}

.jsimgedit{
    cursor: pointer;
    width: 23px;
}

.edit{
    cursor: pointer;
    float: right;
    background-color: #EEDF7A;
    border: none;
}

.inp{
    box-shadow: 2px 2px 6px gray;
    border: none;
    height: 3vw; 
    width: 100%; 
    border-radius: 5px;
}





@media only screen and (max-width:650px) {
    .navbar{
       height: 18vw;

    }

    .text1{
        font-size: -1vw;
        margin-top: -6vw;
    }

    .lote{
        margin-left: 55vw;
        margin-top: 4vw;
    }

    .details1{
        width: 25vw;
        height: 15vw;
        
    }

    .details1 img{
        width: 30px;
    }

    .details1 p{
        font-size: 14px;
    }

    #id{
        font-size: 15px;
    }

    .details2{
        width: 25vw;
        height: 15vw;
    }

    .details2 img{
        width: 30px;
    }

    .details2 p{
        font-size: 14px;
    }

    .details3{
        width: 25vw;
        height: 15vw;
   }

   .details3 img{
    width: 30px;
}

.details3 p{
    font-size: 15px;
}


.budget{
    float: none;
    width: 50vw;
    height: 40vw;
    margin-left: 25%;
}


.expenses{
    float: none;
    width: 50vw;
    height: 40vw;
    margin-left: 25%;
}

.expenseslist{
    margin-top: 5vw;
    margin-left: 20%;
}

.expenseslist li{
    width: 100%;
    margin-left: -4vw;
}

.inp{
    height: 6vw;
}

.addbut{
    font-size: 10px;
}

}

@media only screen and (min-width:600px) and (max-width:800px){
   .navbar{
    height: 18vw;
   }

   .lote{
      margin-left: 60vw;
      margin-top: 4vw;
   }

   .details1{
    width: 25vw;
    height: 15vw;
    margin-left: -20%;
}

.details1 img{
    width: 40px;
}

.show{
    margin-left: 20%;
}

.details1 p{
    font-size: 20px;
}

#id{
    font-size: 15px;
}

.details2{
    width: 25vw;
    height: 15vw;
}

.details2 img{
    width: 40px;
}

.details2 p{
    font-size: 20px;
}

.details3{
    width: 25vw;
    height: 15vw;
}

.details3 img{
width: 40px;
}

.details3 p{
font-size: 20px;
}

.budget{
    float: none;
    width: 50vw;
    height: 40vw;
    margin-left: 20%;
}



.expenses{
    float: none;
    width: 50vw;
    height: 40vw;
    margin-left: 20%;
}

.expenseslist{
    margin-top: 5vw;
    margin-left: 15%;
}

.expenseslist li{
    width: 100%;
    margin-left: -4vw;
}

.inp{
    height: 6vw;
}




}

